.root {
    -text-light:rgba(0,0,0,.87);
    -divider-light:rgba(0,0,0,.12);
    -text-disabled-light:rgba(0,0,0,.26);
    -text-hint-light:rgba(0,0,0,.26);
    -text-secondary-light:rgba(0,0,0,.54);
    -primary-swatch-500: red;
    -selection-background: rgba(0, 0, 0, 0.05);
    
    -fx-inner-border: white;
    -fx-inner-border-horizontal: white;
    -fx-inner-border-bottomup: white;
    -fx-body-color: red;
    -fx-body-color-bottomup: red;
    -fx-body-color-to-right: red;
}

.button {
    -fx-background-color: lightgray;
}

.list-view {
    -fx-background-radius:0;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-text-fill:-text-light;
    -fx-spacing: 3mm;
    -fx-padding:0;
    -fx-border-width: 0;
    -fx-effect: null;
}


.list-cell, 
.list-cell:odd {
    -fx-background-color: white;
    -fx-border-color: -divider-light;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill:-text-light;
    -fx-text-background-color: -text-light;
}

.list-cell:empty {
    -fx-border-width: 0;
    -fx-text-fill:-text-light;
    -fx-text-background-color: -text-light;
}

.list-cell:filled:selected, 
.list-cell:filled:selected:focused {
    -fx-background-color: -selection-background; 
    -fx-text-fill:-text-light;
    -fx-text-background-color: -text-light;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

text-input {
  -fx-font-size: 1.2em;
  -fx-padding: 1.28mm;
  -fx-background-color: white;
  -fx-highlight-fill: -primary-swatch-500;
  -fx-highlight-text-fill: ladder(-primary-swatch-500, -text-dark 49%, -text-light 50%);
  -fx-background-insets: 0;
  -fx-focus-color: white;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-text-fill: black;
  -fx-prompt-text-fill: gray;
  -fx-border-width: 0 0 1px 0, 0 0 1px 0;
  -fx-border-color: transparent transparent gray transparent, transparent transparent transparent transparent;
  -fx-border-insets: 0 0 1 0, 0; }

.text-input:focused {
  -fx-highlight-fill: red;
  -fx-border-width: 0 0 2px 0, 0 0 0 0;
  -fx-border-color: transparent transparent -primary-swatch-500 transparent, transparent transparent transparent transparent;
  -fx-border-insets: 0; 
  -fx-background-color: white;
}

.text-input:disabled {
  -fx-border-style: dotted;
  -fx-opacity: 1;
  -fx-text-input: -text-disabled; 
  -fx-background-color: white;
}

.text-input.full-width {
  -fx-border-color: transparent; 
  -fx-background-color: white;
}

.scroll-bar:horizontal {
    -fx-background-color: gray;
}
.scroll-bar:vertical {
    -fx-background-color: gray;
}
.scroll-bar:focused {
    -fx-background-color:gray;
}
.scroll-bar:vertical:focused {
    -fx-background-color: gray;
}